In [4]:
import numpy as np
import pandas as pd

In [5]:
TT=pd.read_csv("travel.csv")
print(TT)

          Date StartTime  DayOfWeek GoingTo  Distance  MaxSpeed  AvgSpeed  \
0     1/6/2012     16:37     Friday    Home     51.29     127.4      78.3
1     1/6/2012     08:20     Friday     GSK     51.63     130.3      81.8
2     1/4/2012     16:17  Wednesday    Home     51.27     127.4      82.0
3     1/4/2012     07:53  Wednesday     GSK     49.17     132.3      74.2
4     1/3/2012     18:57    Tuesday    Home     51.15     136.2      83.4
..         ...       ...        ...     ...       ...       ...       ...
200  7/18/2011     08:09     Monday     GSK     54.52     125.6      49.9
201  7/14/2011     08:03   Thursday     GSK     50.90     123.7      76.2
202  7/13/2011     17:08  Wednesday    Home     51.96     132.6      57.5
203  7/12/2011     17:51    Tuesday    Home     53.28     125.8      61.6
204  7/11/2011     16:56     Monday    Home     51.73     125.0      62.8

     AvgMovingSpeed FuelEconomy  TotalTime  MovingTime Take407All Comments
0              84.8         NaN       39.3        36.3         No      NaN
1              88.9         NaN       37.9        34.9         No      NaN
2              85.8         NaN       37.5        35.9         No      NaN
3              82.9         NaN       39.8        35.6         No      NaN
4              88.1         NaN       36.8        34.8         No      NaN
..              ...         ...        ...         ...        ...      ...
200            82.4        7.89       65.5        39.7         No      NaN
201            95.1        7.89       40.1        32.1        Yes      NaN
202            76.7         NaN       54.2        40.6        Yes      NaN
203            87.6         NaN       51.9        36.5        Yes      NaN
204            92.5         NaN       49.5        33.6        Yes      NaN

[205 rows x 13 columns]

In [6]:
#this brings out all rows that has NAN
TT.dropna(how="all")

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [7]:
#it drops all rows with NAN
a=TT.dropna()
print(a)

           Date StartTime  DayOfWeek GoingTo  Distance  MaxSpeed  AvgSpeed  \
15   12/19/2011     07:34     Monday     GSK     52.00     137.8      76.5
49   11/21/2011     07:24     Monday     GSK     52.25     127.3      38.1
50   11/17/2011     16:16   Thursday    Home     51.16     127.6      72.4
52   11/16/2011     16:13  Wednesday    Home     51.12     125.1      65.0
54   11/15/2011     17:36    Tuesday    Home     51.06     122.8      61.4
60    11/9/2011     16:15  Wednesday    Home     51.28     121.4      65.9
78   10/25/2011     17:24    Tuesday    Home     52.87     123.5      65.1
91   10/12/2011     17:47  Wednesday    Home     51.40     114.4      59.7
92   10/12/2011     08:28  Wednesday     GSK     50.58     128.4      59.5
110   9/27/2011     07:36    Tuesday     GSK     50.65     128.1      86.3
132    9/7/2011     07:57  Wednesday     GSK     49.08     125.1      56.5
133    9/6/2011     16:27    Tuesday    Home     52.88     131.6      95.4
150   8/24/2011     07:59  Wednesday     GSK     49.07     127.1      58.5
156   8/19/2011     07:05     Friday     GSK     49.18     123.0      72.0
158   8/18/2011     08:11   Thursday     GSK     52.26     137.7      51.2
165   8/12/2011     17:25     Friday    Home     55.57     127.7      69.6
166   8/12/2011     08:05     Friday     GSK     49.02     128.4      76.7
172    8/9/2011     08:15    Tuesday     GSK     49.08     134.8      60.5
174    8/8/2011     08:07     Monday     GSK     49.25     126.3      68.5
182    8/2/2011     07:38    Tuesday     GSK     53.48     124.9      68.8
184   7/29/2011     08:22     Friday     GSK     49.07     121.1      73.2
187   7/27/2011     17:24  Wednesday    Home     50.98     124.9      68.3
189   7/26/2011     17:15    Tuesday    Home     51.28     122.1      43.7

     AvgMovingSpeed FuelEconomy  TotalTime  MovingTime Take407All  \
15             87.8        8.89       40.8        35.5         No
49             50.3       10.05       82.3        62.4         No
50             77.4       10.05       42.4        39.6         No
52             73.1        9.53       47.2        41.9         No
54             70.9        9.53       49.9        43.2         No
60             71.8        9.35       46.7        42.1         No
78             72.4        8.97       48.7        43.8         No
91             65.8        8.75       51.7        46.9         No
92             67.3        8.75       51.0        45.1        Yes
110            88.6        8.31       35.2        34.3        Yes
132            66.5         8.5       52.1        44.3         No
133            98.3         8.5       33.3        32.3        Yes
150            71.5        8.54       50.3        41.1         No
156            81.4        8.37       41.0        36.3         No
158            64.1        8.37       61.2        48.9         No
165            77.1        8.54       47.9        43.2         No
166            82.9        8.54       38.4        35.5         No
172            67.2        8.54       48.7        43.8         No
174            78.2        8.54       43.1        37.8         No
182            78.8        8.48       46.7        40.7         No
184            77.7        8.45       40.2        37.9         No
187            71.9        8.45       44.8        42.6         No
189            51.5        8.45       70.5        59.8         No

                                           Comments
15                                Put snow tires on
49                              Huge traffic backup
50    Pumped tires up: check fuel economy improved?
52                              Backed up at Bronte
54                              Backed up at Bronte
60                                            Rainy
78                                 Rain, rain, rain
91                                 Rain, rain, rain
92       Accident: backup from Hamilton to 407 ramp
110                                         Raining
132                         Back to school traffic?
133              Took 407 all the way (to McMaster)
150                           Heavy volume on Derry
156                      Start early to run a batch
158  Accident at 403/highway 6; detour along Dundas
165                                    Detour taken
166                                  Must be Friday
172                           Medium amount of rain
174                                       New tires
182                            Turn around on Derry
184                                     Empty roads
187                          Police slowdown on 403
189                       Accident blocked 407 exit

In [8]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 15 to 189
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            23 non-null     object
 1   StartTime       23 non-null     object
 2   DayOfWeek       23 non-null     object
 3   GoingTo         23 non-null     object
 4   Distance        23 non-null     float64
 5   MaxSpeed        23 non-null     float64
 6   AvgSpeed        23 non-null     float64
 7   AvgMovingSpeed  23 non-null     float64
 8   FuelEconomy     23 non-null     object
 9   TotalTime       23 non-null     float64
 10  MovingTime      23 non-null     float64
 11  Take407All      23 non-null     object
 12  Comments        23 non-null     object
dtypes: float64(6), object(7)
memory usage: 2.5+ KB

In [9]:
#it drops all columns with NAN
TT.dropna(axis= 1)

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,36.8,34.8,No
...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,49.5,33.6,Yes

In [18]:
TT.fillna(0)

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,0,39.3,36.3,No,0
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,0,37.9,34.9,No,0
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,0,37.5,35.9,No,0
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,0,39.8,35.6,No,0
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,0,36.8,34.8,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,0
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,0
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,0,54.2,40.6,Yes,0
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,0,51.9,36.5,Yes,0
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,0,49.5,33.6,Yes,0

In [19]:
#refilling series(columns) using a dictionary
TT.fillna({"FuelEconomy":3.52,"Comments":"very good"})

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,3.52,39.3,36.3,No,very good
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,3.52,37.9,34.9,No,very good
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,3.52,37.5,35.9,No,very good
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,3.52,39.8,35.6,No,very good
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,3.52,36.8,34.8,No,very good
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,very good
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,very good
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,3.52,54.2,40.6,Yes,very good
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,3.52,51.9,36.5,Yes,very good
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,3.52,49.5,33.6,Yes,very good

In [32]:
m=TT.Distance.mean()
print(m)

50.98151219512191

In [36]:
TT.FuelEconomy.fillna(m)

0      50.981512
1      50.981512
2      50.981512
3      50.981512
4      50.981512
         ...
200         7.89
201         7.89
202    50.981512
203    50.981512
204    50.981512
Name: FuelEconomy, Length: 205, dtype: object

In [37]:
#this shows rows that as duplicates in boolean
TT.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Length: 205, dtype: bool

In [38]:
#this drops rows that has duplicate values
TT.drop_duplicates()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN