In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({

    "particulars":["","sales unit(Forecasted)","planned Enging units of inventory",
                   "Total Production Required","Beginning Inventory of Finished Goods","Units to be produced"],
    "Quarter 1":["N in Billion",7000.00,1000.00,8000.00,1500.00,6500.00],
    "Quarter 2":["N in Billion",8000.00,1000.00,9000.00,1000.00,8000.00],
    "Quarter 3":["N in Billion",9000.00,1000.00,10000.00,1000.00,9000.00],
    "Quarter 4":["N in Billion",10000.00,1000.00,11000.00,1000.00,10000.00]})

print(df)

                             particulars     Quarter 1     Quarter 2  \
0                                         N in Billion  N in Billion
1                 sales unit(Forecasted)        7000.0        8000.0
2      planned Enging units of inventory        1000.0        1000.0
3              Total Production Required        8000.0        9000.0
4  Beginning Inventory of Finished Goods        1500.0        1000.0
5                   Units to be produced        6500.0        8000.0

      Quarter 3     Quarter 4
0  N in Billion  N in Billion
1        9000.0       10000.0
2        1000.0        1000.0
3       10000.0       11000.0
4        1000.0        1000.0
5        9000.0       10000.0

In [5]:
print(df.describe())
df.notnull()

       particulars  Quarter 1  Quarter 2  Quarter 3  Quarter 4
count            6        6.0        6.0        6.0        6.0
unique           6        6.0        4.0        4.0        4.0
top                    7000.0     8000.0     9000.0    10000.0
freq             1        1.0        2.0        2.0        2.0

   particulars  Quarter 1  Quarter 2  Quarter 3  Quarter 4
0         True       True       True       True       True
1         True       True       True       True       True
2         True       True       True       True       True
3         True       True       True       True       True
4         True       True       True       True       True
5         True       True       True       True       True

In [31]:
df = pd.DataFrame({
    "Ministry":["","Agric","Health","Education","Sport","Works","Finance","Power","Maintenance","FCT","Transportation"],
    "Salaries":["N in Billion",450,300,150,70,100,300,250,100,500,400],
    "Health":["N in Billion",300,250,80,70,50,150,300,350,450,200],
    "Pension":["N in Billion",250,150,100,80,200,350,300,80,300,150],
    "Mortgage":["N in Billion",500,300,200,150,300,300,300,200,100,50],
    "Transportation":["N in Billion",400,220,65,50,90,150,100,30,300,45],
    "Infrastruction":["N in Billion",200,80,100,75,100,120,80,50,500,70],
    "Training":["N in Billion",300,100,50,20,100,120,100,60,200,150]})
print(df)

          Ministry      Salaries        Health       Pension      Mortgage  \
0                   N in Billion  N in Billion  N in Billion  N in Billion
1            Agric           450           300           250           500
2           Health           300           250           150           300
3        Education           150            80           100           200
4            Sport            70            70            80           150
5            Works           100            50           200           300
6          Finance           300           150           350           300
7            Power           250           300           300           300
8      Maintenance           100           350            80           200
9              FCT           500           450           300           100
10  Transportation           400           200           150            50

   Transportation Infrastruction      Training
0    N in Billion   N in Billion  N in Billion
1             400            200           300
2             220             80           100
3              65            100            50
4              50             75            20
5              90            100           100
6             150            120           120
7             100             80           100
8              30             50            60
9             300            500           200
10             45             70           150

In [32]:
description= df.describe()
print(description)

       Ministry  Salaries  Health  Pension  Mortgage  Transportation  \
count        11        11      11       11        11              11
unique       11         9      10        8         7              11
top                   100     300       80       300             400
freq          1         2       2        2         4               1

        Infrastruction  Training
count               11        11
unique               9         9
top                 80       100
freq                 2         3